.dataDisplay{
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 400px;
  height: 400px;
  border: 1px solid red;
  margin: 25px;
  padding: 30px;
}

.userInfo{
  height: 400px;
  width: 400px;
  border: 1px solid orange;
  margin: 25px;
  margin-left: 600px;
  padding: 30px;
}

.userInfo form{
  margin: 30px;
  padding: 10px;
  height: 500px;
}

.userInfo input{
  width: 200px;
  height: 25px;
}

.userInfo button{
  width: 100px;
  height: 30px;
  border-radius: 10px;
  margin-left: 150px;
}